services:
  garmin-mcp:
    build:
      context: .
      dockerfile: garmin.Dockerfile
    environment:
      PORT: "1234"
    env_file:
      - "garmin.env"
  oauth2-proxy:
    build:
      context: .
      dockerfile: oauth2-proxy.Dockerfile
    ports:
      - "8080:8080"
    environment:
      HOST_DOMAIN: "http://localhost:8080"
      PORT: "8080"
      OAUTH2_PROXY_COOKIE_SECURE: "false"
      OAUTH2_PROXY_UPSTREAMS: "http://garmin-mcp:1234"
    env_file:
      - "oauth2-proxy.env"
